*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
}

/* MAIN */
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
}
.carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    width: 1430px;
    height: 520px;
    display: flex;
}

.carousel .wrapper{
    height: 100%;
    width: 85%;
}

.carousel .container-left{
    float: left;
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    position: relative;
    display: none;
}

.container-left.active{
    display: block;
}

.container-left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-left .sub-title{
    position: absolute;
    bottom: 25px;
    right: 20px;
    color: white;
    text-align: right;
}

.carousel .thumbnails-right{
    height: 100%;
    width: 15%;
    position: relative;
}

.thumbnails-right .my-container{
    height: 20%;
    width: 100%;
}

.my-container img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.my-container.active{
    display: block;
    border: 3px solid red;
}

.button-up{
    position: absolute;
    top: 9px;
    left: 92px;
    border-radius: 50%;
    border: none;
    padding: 2px 8px;
    cursor: pointer;
}

.button-up .fa-angle-up{
    font-size: 31px;
}

.button-bottom{
    position: absolute;
    bottom: 9px;
    left: 92px;
    border-radius: 50%;
    border: none;
    padding: 2px 8px;
    cursor: pointer;
}

.button-bottom .fa-angle-down{
    font-size: 31px;
}